<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>-->
  <script src="js/application.js"> </script>

<!--  <!-- Bootstrap CSS -->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->

  <link rel="stylesheet" type="text/css" href="stylesheets/application.css" media="screen" />
  <title>Codebreaker</title>
</head>
<body>

<h1>Welcome to codebreaker!</h1>
<form>
  <a href="/" id="start_new_game">Start new game</a>

  <div id="game_in_progress">
    <br>
    <a href="/hint" id="show_hint_link" class="hint" title="Show hint">Show Hint</a>

    <p>Enter your 4 numbers here:</p>
    <input id="user_input" type="text" value="" disabled/>
    <input id="current_round" type="hidden" value="1"/>
    <button id="correct"> < Correct</button>
    <button id="clear">Clear</button>
    <br>
    <% (1..6).each do |index| %>
      <button class="number" id="input_<%= index %>" value="<%= index %>"><%= index %></button>
    <% end %>
    <br>
    <button class="send" id="send">Send</button>
    <div id="hint_block" style="display:none">
      <p>Hint:</p>
      <b id="show_hint"></b>
    </div>
    <div>
      <p>Attempts left:</p>
      <b id="attempts_left"></b>
    </div>
  </div>
  <div>
    <p>Result:</p>
    <b id="result"></b>
  </div>
</form>

</body>
</html>